.checkout-page-forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.contact-checkout {
  margin-top: 50px;
}

.form-text-big {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.checkout-all-forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout-form {
  background-color: white;
  border: 1px solid white;
  color: black;
  padding-left: 5px;
  resize: none;
  width: 400px;
  height: 45px;
  border-radius: 10px;
  font-size: 16px;
}

.checkout-form::placeholder {
  font-size: 16px;
  color: gray;
  opacity: 50%;
}

.checkout-checkbox {
  width: 15px;
  height: 15px;
  accent-color: gray;
}

.checkout-checkbox:hover {
  cursor: pointer;
}

.checkbox {
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox:hover {
  cursor: pointer;
}

.delivery-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.checkout-dropdown {
  width: 200px;
  height: 45px;
  background-color: white;
  border: 1px solid white;
  color: black;
  font-size: 16px;
  border-radius: 10px;
}

.checkout-form-small {
  background-color: white;
  border: 1px solid white;
  color: black;
  padding-left: 5px;
  resize: none;
  width: 190px;
  height: 45px;
  border-radius: 10px;
  font-size: 16px;
}

.checkout-form-small::placeholder {
  font-size: 16px;
  color: gray;
  opacity: 50%;
}

.continue-button {
  width: 300px;
  height: 35px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #303030;
  border: none;
  color: white;
  margin-bottom: 70px;
}

.continue-button:hover {
  background-color: #535353;
  cursor: pointer;
}
